/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ------------------------------SPLASH SCREEN--------------------*/
.splash_screen {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('../images/fondo-start-game.png');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.splash_screen_start{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  align-items: center;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.splash-screen-title{
 width: 600px;
}

.splash_screen_start a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  grid-row: 3 / 4;
  
 }

.splash-screen-start-button {
  width: 100px;
  height: 100px;
}

.splash-screen-start-button:hover{
  cursor: pointer;
  width: 120px;
  height: 120px;
}

/*---------------------PLAYER1 WINS SCREEN------------------*/

.player1-wins{
  display: grid;
  width: 100%;
  height: 100vh;
  background-image: url('../images/player1-wins.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.player1-wins-screen{
  width: 90vh;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: grid;

}

.player1-wins-screen h1{
  font-family: 'Orbitron';
  font-weight: bold;
  color: #4DBCCB;
  font-size: 5em;
  text-shadow: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player1-wins-screen button{
  font-family: 'Orbitron';
  font-size: 2.5em;
  color: #4DBCCB;
  width: 250px;
  height: 60px;
  margin: 10px auto;
  padding-top: 10px;
  border:  2px solid #4DBCCB;
  background-color: transparent;
}

.player1-wins-screen button:hover{
  cursor: pointer;
  width: 270px;
  height: 70px;
  font-size: 2.7em;
  border:  4px solid #4DBCCB;
}

/*---------------------PLAYER2 WINS SCREEN------------------*/

.player2-wins{
  display: grid;
  align-items: start;
  width: 100%;
  height: 100vh;
  background-image: url('../images/player2-wins.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.player2-wins-screen{
  width: 90vh;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: grid;
}

.player2-wins-screen h1{
  font-family: 'Orbitron';
  font-weight: bold;
  color: #AF5E5E;
  font-size: 5em;
  text-shadow: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.player2-wins-screen button{
  font-family: 'Orbitron';
  font-size: 2.5em;
  color: #AF5E5E;
  border:  2px solid #AF5E5E;
  background-color: transparent;
  width: 250px;
  height: 60px;
  margin: 10px auto;
  padding-top: 10px;
}

.player2-wins-screen button:hover{
  cursor: pointer;
  width: 270px;
  height: 70px;
  font-size: 2.7em;
  border:  4px solid #AF5E5E;
}

/*------------------GAME SCREEN-------------------------------------*/
.game-screen{
  display: grid;
  grid-template-columns: 200px 1000px;
  grid-template-rows: 200px 500px;
  justify-items: start;
  width: 100%;
  height: 100vh;
  background-image: url('../images/fondo-juego.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.game-screen-score{
  width: 900px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50px 100px 150px;
  justify-self: center;
  justify-items: center;
  align-items: center;
}
.title-player1{
  font-family: 'Orbitron';
  font-size: 1.8em;
  font-weight: bold;
  color: #4DBCCB;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.score-players{
  width: 100%;
  height: 10vh;
  font-family: 'Orbitron';
  font-size: 3em;
  color: #4AF5D9;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  
}

.score-player1{
  margin: 5px auto;
  grid-column: 1 / 2;
  
}
.score-heart{
  margin: 5px auto;
  width: 70px;
  height: 70px;
  grid-column: 2 / 3
  ;
}
.score-player2{
  margin: 5px auto;
  grid-column: 3 / 4;
}

.title-player2{
  font-family: 'Orbitron';
  font-size: 1.8em;
  font-weight: bold;
  color: #4DBCCB;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.game-screen-blue-moto{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 150px;
}
.game-screen-red-moto{
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  width: 150px;
}
.game-screen-content{
  width: 100%;
  height: 70vh;
  border:  5px solid #4AF5D9;
  justify-self: stretch;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url('../images/tron-fondo-juego.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}